.column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#novo{
  position: relative;
}

.gordura{
  width: 30px;
}

li{
  padding: 0% 40px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}